/* Agregamos algunos estilos para los botones */
button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Azul */
    color: white;
  }
  
  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  /* Estilos para la barra lateral */
  .sidebar {
    width: 200px;
    background-color: #333;
    padding-top: 60px;
    height: 100vh;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  /* Estilos para los íconos */
  .iconosbarra {
    display: flex;
    align-items: center;
    color: #8e8b8b;
    padding: 10px; /* Añadimos padding para espaciar los íconos */
  }
  
  /* Estilos para los contenedores de categorías y platos */
  .container {
    display: flex;
  }
  
  /* Estilos para los títulos de sección */
  .section-title {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  /* Estilos para los inputs */

  
  /* Estilos para los botones de agregar y eliminar */
  .add-btn, .delete-btn {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .add-btn {
    background-color: #28a745; /* Verde */
    color: white;
  }
  
  .delete-btn {
    background-color: #dc3545; /* Rojo */
    color: white;
  }
  
  .wrapper {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: #333;
    padding-top: 60px;
    height: 100vh;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  
  .content {
    padding: 20px;
    flex: 1;
  }
  .card {
    width: 70%; /* Ajusta el ancho según tus preferencias */
    margin: left; /* Centra la tarjeta horizontalmente */
    margin-top: 20px; /* Espacio superior */
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    background-color: #fff; /* Fondo blanco */
  }
  